*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

.main{
  width: 100%;
  height: 100vh;
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

p{
  text-align: center;
  font-weight: bold;
}

#about{
  position: relative;
  text-align: center;
  color: white;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 0;
}

#submit_button{
  position: relative;

  top: 10%;
  border: none;
  background-color: #f7bc27;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
  text-decoration: double;
  display: inline-block;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

#submit_button:hover{
  background-color: #ffffff;
  color: #f7bc27;
}


.export_button{
  position: absolute;
  bottom: 2%;
  left: 45%;
  border: none;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
  text-decoration: double;
  display: inline-block;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

.export_button:hover {
  background-color: #f7bc27;
  color: #ffffff;
}

.chart {
  color: black;
  background-color: black;
  z-index: 2;
  border-radius: 10px;
  padding-bottom: 3%;
  /* background-color: rgba(0, 0, 0, .3); */
}
